/* feuille de style du site phase 2 */

body {
    background-image: url(../img/concrete-texture.png);
}

/************************* TITRES, TEXTES ETC *************************/
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 44px;
    color: #2980b9;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    /* padding: 20px; */
    font-weight: bold;
    /* ombre portée sur le lettrage */
    text-shadow: 1px 1px 2px #aaa;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    /* padding: 15px; */
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
    margin-top: 30px;
}

blockquote {
    font-style: italic;
    font-size: 120%;
}

strong {
    font-weight: bold;
}

/************************* HEADER INDEX ET SITE *************************/

header {
    background-color: #2c3e50;
    height: 175px;
}

#logo {
    background-color: #2c3e50;
    width: 25%;
    float: left;
    /* padding: 15px; */
    text-align: center;
}

#slogan {
    background-color: #2c3e50;
    width: 50%;
    float: left;
    padding-top: 50px;
}

#social {
    width: 25%;
    float: left;
}

/************************* DEBUT NAV *************************/
nav {
    background: #2980b9;
    height: 70px;
    padding: 15px;
    border-bottom: 8px solid #6acafc;
    text-align: center;
}

nav a {
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0px;
    border: 2px solid #fff;
    background: #6acafc;

    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
}

nav a:hover {
    background: #2c3e50;
    color: #fff;
}

.active {
    background: #2c3e50;
    color: #fff;
}

/************************* ZONING INDEX *************************/
main {
    /* alpha : degré d'opacité de la couleur */
    background: rgba(178, 178, 178, 0.30);
    margin: 0 auto;
    width: 1200px;
}

aside {
    height: 250px;
    background: #a6d6c3;
}

section {
    background: #daf7a6;
    margin-top: 50px;
    padding: 20px;
}

footer {
    background: #2980b9;
    height: 30px;
}

/************************* LA PAGE ZONING *************************/
/* le zoning 1 */
#zoning1 {
    background: #ffd6d6;
    border: 1px solid #2c3e50;
    width: 798px;
    margin: auto;
    text-align: center;
}
#zoning1 header {
    background-color: #f7f39a;
    height: 70px;
}

#zoning1 aside {
    background-color: #10828c;
    height: 525px;
    width: 20%;
    float: left;
    color: #fff;
}

#zoning1 section {
    background-color: #38817a;
    height: 525px;
    width: 80%;
    float: left;
    margin: 0;
    padding: 0;
}

/* le zoning 2 */
#zoning2 {
    background: #ffd6d6;
    border: 1px solid #2c3e50;
    width: 798px;
    margin: auto;
    text-align: center;
}

#zoning2 header {
    background: red;
    color: #6acafc;
    height: 70px;
}

#zoning2 aside {
    background: #6acafc;
    float: left;
    width: 20%;
    height: 500px;
    color: #fff;
}

.milieu {
    background: orange;
    float: left;
    width: 60%;
    height: 500px;
}

/* Le zoning 3  */
#zoning3 {
    background: #ffd6d6;
    width: 800px;
    text-align: center;
    color: #fff;
    margin: auto;
    /* border: 10px solid red; */
}

#zoning3  section {
    height: 525px;
    float: left;
    width: 50%;
    background: #205d67;
    margin: 0;
    padding: 0;
    /* border: 10px solid #fff; */
}

#zoning3 footer {
    height: 70px;
    float: left;
    width: 100%;
    background: #d8ebb5;
    color: black;
}

/* le zoning 4 */
#zoning4 {
    background: #fff;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    border: 2px dotted red;
}

#zoning4 header {
    height: 100px;
    background: #10828c;
}

#zoning4 nav {
    height: 50px;
    background: #bed4e2;
    border: none;
}

#zoning4 section {
    height: 200px;
    background: red;
    border: 2px dotted black;
}

#zoning4 footer {
    height: 100px;
    background:#6acafc;
}

/* le zoning 5  */
#zoning5 {
    background: #ecebe9;
    border: 2px solid black;
}

#zoning5 header {
    background: #F8D771;
    height: 100px;    
}

#zoning5 nav {
    background: cadetblue;
    height: 50px;
    border: none;       
}

#zoning5 .section {
    padding: 0;
}

#zoning5 .section .z1, .z2, .z3, .z4 {
    float: left;
    width: 50%;
    height: 250px; 
}

#zoning5 .z1, .z4 {
    background: #F8D771;    
}

#zoning5 .z2, .z3 {
    background: #fce38a;    
}

#zoning5 footer {
    background: red;
    height: 90px;
}

/* le zoning 6  */
#zoning6 {
    width: 800px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

#zoning6 header {
    background: #40a497;
    height: 180px;
}

.haut1  {
    background: #203562;
    float: left;
    width: 25%;
    height: 100%;
}

.haut2 {
    background: #3e588f;
    float: left;
    width: 50%;
    height: 100%;
}

.haut3 {
    background: #203562;    
    float: left;
    width: 25%;
    height: 100%;
}


#zoning6 nav {
    background: #0B5269;
    height: 80px;
    border: none;
}

#zoning6 aside {
    background: #446878;
    float: left;
    width: 25%;
    height: 650px;
}

.slideshow {
    background: #314a52;
    height: 250px;
}

#zoning6 .a {
    background: #c0c5cd;
    float: left;
    width: 50%;
    height: 250px;
}

#zoning6 .b {
    background: #203562;
    float: left;
    width: 50%;
    height: 250px;
}

#zoning6 section {
    float: left;
    width: 75%;
    margin: 0;
    padding: 0;
}
#zoning6 .c, .e {
    background: #c0c5cd;
    width: 25%;
    height: 150px;
    float: left;
}

#zoning6 .d, .f {
    background: #203562;
    width: 25%;
    height: 150px;
    float: left;
}

#zoning6 footer {
    background: #0B5269;
}

/************************* FLOAT *************************/

.clear {
    clear: both;
}

/************************* LA PAGE TEXTE *************************/
.oswald p {
    font-family: 'Oswald', sans-serif;
}

/************************* LA PAGE SELECTEUR *************************/
.select p {
    color: red;
}

.select p:first-of-type {
    color: pink;
}

.select p:last-of-type {
    color: pink;
}

.select p:nth-of-type(5), .select p:nth-of-type(6) {
    color:black;
}

.select div:not(.zoneB) {
    font-weight: bold;
}

.select .zoneA {
    color: #f56f56;
}

.select .zoneB {
    color: #996633;
}

.select .zoneB .couleurBleu {
    color: blue;
    font-size: 16px;
}

.select #zoneC {
    color: #98f32f;
}

.select #zoneD span {
    color: #32ff32;
    font-size: 30px;
    font-style: italic;
}

/************************* LA PAGE SELECTEUR *************************/
.imageFond {
    background: url(../img/fond.jpg) no-repeat;
}
.imageFond p {
    
}